POSTGRES_DB=inventory
POSTGRES_USER=inventory
POSTGRES_PASSWORD=replace-for-nonlocal-use
DATABASE_URL=jdbc:postgresql://db:5432/inventory
DATABASE_USERNAME=inventory
DATABASE_PASSWORD=replace-for-nonlocal-use
